/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

#sudoku-container {
    text-align: center;
}

#sudoku-grid {
    border-collapse: collapse;
    margin-bottom: 20px;
}

#sudoku-grid td {
    border-style: solid;
    border-width: 1px 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

#sudoku-grid td input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 20px;
}

/* Add a bolder border for the edges of each 3x3 square */
#sudoku-grid td:nth-child(3n) {
    border-right: 5px solid black;
}

#sudoku-grid tr:nth-child(3n) td {
    border-bottom: 2px solid black;
}

#sudoku-grid td:nth-child(3n+1) {
    border-left: 2px solid black;
}

#sudoku-grid tr:nth-child(3n+1) td {
    border-top: 2px solid black;
}
#control-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#control-buttons button:hover {
    background-color: #45a049;
}

/* 
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
} */

.highlight {
    background-color: #f3f8fd;
    outline: none;
}

.highlighted-input {
    background-color: #d0e4f8; /* Light orange color for highlighted input */
}

.invalid {
    border: 5px solid red;
    background-color: red;
    outline: none;
}

/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
} */

.false-input {
    color: red;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-top: 20px;
    
}

footer {
    margin-top: 10%;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #dee6ee;
    color: black;
    font-weight: bold;
}

/* media queries */
@media only screen and (max-width: 600px) {
    #sudoku-grid td {
        width: 30px;
        height: 40px;
        font-size: 16px;
    }

    #sudoku-grid td input {
        font-size: 16px;
    }
}
